@CHARSET "UTF-8";
.change1_pic {
	position: relative;
	overflow: auto;
}
.change1_pic li {
	list-style: none;
}
.change1_pic ul li {
	float: left;
	width: 1160px;
}
.change1_pic ul li img{
	height:328px;
	width:1160px;
}
.change1_pic .arrows {
	display: none;
}
.change1_pic:hover .arrows, .change1_pic.hover .arrows {
	display: block;
}
 
.change1_pic .arrows {
	position: absolute;
	z-index: 20;
}
.change1_pic .arrows .prev, .change1_pic .arrows .next {
	position: absolute;
	width: 76px;
	height: 77px;
	font: 0/0 a;
	color: transparent;
	cursor: pointer;
}
.change1_pic .arrows .prev {
	left: 60px;
	background: url(../images/arrowl.png) no-repeat;
}
.change1_pic .arrows .next {
	left:1010px;
	background: url(../images/arrowr.png) no-repeat;
}
.change1_pic .arrows {
	top: 120px;
}

.change1_pic { width: 640px;}

.change1_pic .dots { position: absolute; left: 500px; right: 0; bottom: 20px;}

.change1_pic .dots li 

{ 

	display: inline-block; 

	width: 10px; 

	height: 10px; 

	margin: 0 4px; 

	text-indent: -999em; 

	border: 2px solid #fff; 

	border-radius: 6px; 

	cursor: pointer; 

	opacity: .4; 

	-webkit-transition: background .5s, opacity .5s; 

	-moz-transition: background .5s, opacity .5s; 

	transition: background .5s, opacity .5s;

}

.change1_pic .dots li.active 

{

	background: #fff;

	opacity: 1;

}

.tuisong_lesson{
	margin-top: 30px;
}
.tuisong_lesson h2{
	font-weight: 900;
}
.tuisong_title{
	margin-bottom: 10px
}
.tuisong_firstdiv{
	margin-bottom:20px;
}
.tuisong_seconddiv{
	width:1160px;
	height:200px;
}
.tuisong_thriddiv{
	height:185px;
	width:235px;
	margin-right: 40px;
	margin-bottom: 10px;
	float:left;
}
.tuisong_forthdiv{
	height:132px;
	width:235px;
	overflow:hidden;
}
.tuisong_forthdiv img {
	max-width: none;
	height: 133px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tuisong_thriddiv:hover img {
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}
.tuisong_lessonName h3{
	font-weight:600;
	margin:5px 0 5px 0;
}
.tuisong_thriddiv:hover h3{
	color:green;
}
.tuisong_teacherName {
	font-size:13px;
	font-weight:300;
}